:root{
   --primary: #7b2cbf;
   --dark: #21232f;
   --danger: #d62828;
   --success: #06d6a0;
   --white: #f5f6f7;
}

.text-right{
    
}

#root {
    height: 100%;
    width: 100%;
    position: fixed;
}